.nav-link {
    display: inline-block;
    text-decoration: none;

    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.54px;
    text-transform: uppercase;
    text-align: center;
    color: #121212;
}

.nav-link:nth-child(1) {
    width: 51px;
    height: 2px;
    margin-left: 300px;
}

.nav-link:nth-child(2) {
    width: 79px;
    height: 25px;
    margin-left: 60px;
}

.nav-link:nth-child(3) {
    width: 66px;
    height: 25px;
    margin-left: 60px;
}

.nav-link:nth-child(4) {
    width: 90px;
    height: 25px;
    margin-left: 60px;
    margin-right: 0;

}